html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body #page {
    font-family: "Raleway", sans-serif;
}

.section-title {
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 2px;
    padding: 3px;
    text-align: center;
}

p {
    font-size: 16px;
}

#about-me, #experience, #projects, #contact {
    padding-top: 40px;
    padding-bottom: 40px;
}

.arrow-up {
    position: fixed;
    bottom: 40px;
    right: 20px;
}

.arrow-up i {
    color: #6c757d;
    opacity: 0.5;
}

.navbar-light .navbar-brand {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 200;
}

.header-section {
    background: url('../img/intro6.png');
    height: 100vh;
    background-size: cover;
}

.header-section .bg-dark {
    background-color: rgba(47, 53, 58, 0.6)!important;
    z-index: 999;
}

.header-section .navbar-light .navbar-brand {
    color: #e8e8e8;
    font-weight: 300;
    letter-spacing: 3px;
    font-size: 12px;
}

.header-section .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #F9F9F9;
    font-weight: 100;
    letter-spacing: 2px;
}

.intro {
    position: absolute;
    top: 30%;
    left: 10%;
    text-align: center;
}

.intro h1 {
    font-size: 55px;
    font-weight: 200;
    font-family: 'Over the Rainbow';
    letter-spacing: 4px;
    margin-bottom: 10%;
}

.intro h3{
    font-weight: 100;
    font-size: 23px;
    background-color: rgba(255,255,255,0.5);
    padding: 5px;
}

.stronger {
    font-weight: 500;
}

#about-me .about-description {
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-left: 2%;
    padding-top: 60px;
    padding-bottom: 60px;
}

#about-me .portret-photo {
    float: right;
    height: 50%;
}

#experience {
    background-color: #FFFFFF;
}

#experience i {
    font-size: 45px;
    padding: 20px;
}

#experience li {
    margin-bottom: 15px;
}

#experience .exp-list {
    list-style: none;
    font-size: 18px;
    font-weight: 200;
}

#experience .exp {
    padding-top: 60px;
    padding-bottom: 60px;
}

#experience li {
    font-weight: 400;
}

#experience .progress-bar {
    background-color: #A8A8A8;
}


#projects {
    background-color: #FFFFFF;
}

#projects .proj {
    padding-top: 60px;
    padding-bottom: 60px;
}

#projects .project-description {
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-left: 2%;
    padding: 20px;
}

#projects .project-isa {
    padding: 20px;
}

#projects .project-isa {
    filter: grayscale(45%);
    -webkit-filter: grayscale(45%);
}

#projects .project-container {
    box-shadow: 10px 10px 10px #C9C9C9;
    margin: 0.5%;
}

#contact {
    background-color: #EFFFFC;
}

#contact .contact-p {
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 3px;
    padding: 15px;
}

#contact .invitation {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 2px;
    padding: 15px;
}
#contact .contact-list {
    color: #000000;
    font-weight: 300;
    font-family: Raleway, sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
    padding-left: 5px;
}

#contact .fa {
    padding-right: 30px;
    margin-left: 30px;
}

#contact i a {
    color: #000000;
    text-decoration: none;
    padding: 5px;
}

#footer .footer-message {
    height: 35px;
    background-color: #232323;
    color: #D8D8D8;
}

#footer .footer-message {
    font-weight: 100;
    padding: 5px;
    text-align: center;
}

#footer .footer-mp {
    font-size: 13px;
}

@media screen and (max-width: 576px) {
    .intro h1 {

        padding: 5px;
        letter-spacing: 1px;
        border-radius: 2px;
    }

    .intro h3 {
        padding: 3px;
        border-radius: 2px;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    .intro h1 {
        padding: 5px;
        letter-spacing: 2px;
        border-radius: 3px;
    }

    .intro h3 {
        padding: 3px;
        border-radius: 3px;
    }
}

@media screen and (max-width: 576px) {
    #experience .exp-list {
        padding: 0;
    }
}

@media screen and (min-width: 576px) and (max-width: 1280px){
    #experience .exp-list {
        padding: 0;
    }
}

