h1 {
    background-color: #000000;
    color: #ffffff;
    text-transform: uppercase;
    padding: 10px;
    display: inline-block;
}
.cont {
    font-family: "Arial", sans-serif;
    font-size: 15px;
}

.main-site {
    width: 1080px;
    margin: 0 auto;
    background-color: #f8f8ff;
}

.foot {
    font-family: "Arial", sans-serif;
    font-size: 13px;
    text-align: center;
}

.foot-site {
    width: 1080px;
    margin: 0 auto;
    background-color: #d3d3d3;
}